#highScoreList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #56a5eb;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  color: #56a5eb;
  background-color: white;
}

.high-score:hover {
  transform: scale(1.025);
}
